In [ ]:
# WAP to print first 30 multiples of 5

for i in range(1,31):
  print(i,"* 5 =",i*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75
16 * 5 = 80
17 * 5 = 85
18 * 5 = 90
19 * 5 = 95
20 * 5 = 100
21 * 5 = 105
22 * 5 = 110
23 * 5 = 115
24 * 5 = 120
25 * 5 = 125
26 * 5 = 130
27 * 5 = 135
28 * 5 = 140
29 * 5 = 145
30 * 5 = 150

In [ ]:
def fibonacci(n):
    a = 0
    b = 1
    if n <= 0:
        print("Incorrect input")
    elif n == 1:
        return b
    else:
        for i in range(2,n):
            c = a + b
            a = b
            b = c
        return b
 
# Driver Program
 
print(fibonacci(9))

21

In [ ]:

print("No.1 integer in Fibonacci is 0")
print("No.2 integer in Fibonacci is 1")
for i in range(3,10):
  print("No.",i,"integer in Fibonacci is",i-2)

No.1 integer in Fibonacci is 0
No.2 integer in Fibonacci is 1
No. 3 integer in Fibonacci is 1
No. 4 integer in Fibonacci is 2
No. 5 integer in Fibonacci is 3
No. 6 integer in Fibonacci is 4
No. 7 integer in Fibonacci is 5
No. 8 integer in Fibonacci is 6
No. 9 integer in Fibonacci is 7

In [ ]:
a=0
b=1
c=a+b
d=b+c
e=c+d
f=d+e
g=e+f
h=f+g
i=g+h
j=h+i

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

0
1
1
2
3
5
8
13
21
34

In [ ]:
myList=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r']

myList[0]=0
myList[1]=1
print("No. 1 from Fibonacci series is ",myList[0])
print("No. 2 from Fibonacci series is ",myList[1])
for i in range(2,len(myList)):
  myList[i]=myList[i-1]+myList[i-2]
  print("No.",i+1,"from Fibonacci series is ",myList[i])

No. 1 from Fibonacci series is  0
No. 2 from Fibonacci series is  1
No. 3 from Fibonacci series is  1
No. 4 from Fibonacci series is  2
No. 5 from Fibonacci series is  3
No. 6 from Fibonacci series is  5
No. 7 from Fibonacci series is  8
No. 8 from Fibonacci series is  13
No. 9 from Fibonacci series is  21
No. 10 from Fibonacci series is  34
No. 11 from Fibonacci series is  55
No. 12 from Fibonacci series is  89

In [ ]:
myList=[]
for j in range(1,11):
  
  myList.append('a'*j)


print(myList)

['a', 'aa', 'aaa', 'aaaa', 'aaaaa', 'aaaaaa', 'aaaaaaa', 'aaaaaaaa', 'aaaaaaaaa', 'aaaaaaaaaa']

In [ ]:
print('t'*5)

ttttt

In [ ]:
myList=[]
for j in range(1,50):
  
  myList.append('a'*j)

myList[0]=0
myList[1]=1
print("No. 1 from Fibonacci series is ",myList[0])
print("No. 2 from Fibonacci series is ",myList[1])
for i in range(2,len(myList)):
  myList[i]=myList[i-1]+myList[i-2]
  print("No.",i+1,"from Fibonacci series is ",myList[i])

No. 1 from Fibonacci series is  0
No. 2 from Fibonacci series is  1
No. 3 from Fibonacci series is  1
No. 4 from Fibonacci series is  2
No. 5 from Fibonacci series is  3
No. 6 from Fibonacci series is  5
No. 7 from Fibonacci series is  8
No. 8 from Fibonacci series is  13
No. 9 from Fibonacci series is  21
No. 10 from Fibonacci series is  34
No. 11 from Fibonacci series is  55
No. 12 from Fibonacci series is  89
No. 13 from Fibonacci series is  144
No. 14 from Fibonacci series is  233
No. 15 from Fibonacci series is  377
No. 16 from Fibonacci series is  610
No. 17 from Fibonacci series is  987
No. 18 from Fibonacci series is  1597
No. 19 from Fibonacci series is  2584
No. 20 from Fibonacci series is  4181
No. 21 from Fibonacci series is  6765
No. 22 from Fibonacci series is  10946
No. 23 from Fibonacci series is  17711
No. 24 from Fibonacci series is  28657
No. 25 from Fibonacci series is  46368
No. 26 from Fibonacci series is  75025
No. 27 from Fibonacci series is  121393
No. 28 from Fibonacci series is  196418
No. 29 from Fibonacci series is  317811
No. 30 from Fibonacci series is  514229
No. 31 from Fibonacci series is  832040
No. 32 from Fibonacci series is  1346269
No. 33 from Fibonacci series is  2178309
No. 34 from Fibonacci series is  3524578
No. 35 from Fibonacci series is  5702887
No. 36 from Fibonacci series is  9227465
No. 37 from Fibonacci series is  14930352
No. 38 from Fibonacci series is  24157817
No. 39 from Fibonacci series is  39088169
No. 40 from Fibonacci series is  63245986
No. 41 from Fibonacci series is  102334155
No. 42 from Fibonacci series is  165580141
No. 43 from Fibonacci series is  267914296
No. 44 from Fibonacci series is  433494437
No. 45 from Fibonacci series is  701408733
No. 46 from Fibonacci series is  1134903170
No. 47 from Fibonacci series is  1836311903
No. 48 from Fibonacci series is  2971215073
No. 49 from Fibonacci series is  4807526976